footer.common-Footer
  .common-Footer_Inner
    .common-Footer_LogoArea
      img.common-Footer_Logo

    .common-Footer_LinkArea
      .common-Footer_Item
        // 透過であれば背景画像、それ以外はアイコンフォント
        a.common-Footer_Icon
      .common-Footer_Item
        a.common-Footer_Icon
        a.common-Footer_Icon
