footer.t-wrapper__footer
  .o-footer
    .o-footer__inner
      .o-footer__logo
        img(alt="CSS Talk")

      .o-footer__links
        .o-footer__link
          .o-footer__contact
            a.o-footer__contactLink
        .o-footer__link
          .o-footer__share
            a.o-footer__shareLink
            a.o-footer__shareLink

      .o-footer__copyright
        small.a-copyright © CSS Talk, All rights reserved.
