footer.st-Footer
  .st-Footer_Inner
    .st-Footer_LogoArea
      img.st-Footer_Logo

    .st-Footer_LinkArea
      .st-Footer_Item
        // 透過であれば背景画像、それ以外はアイコンフォント
        a.st-Footer_Icon
      .st-Footer_Item
        a.st-Footer_Icon
        a.st-Footer_Icon
