:root {
  --color--primaly: #3db377;
  --font--jp: 'Noto Sans Japanese', sans-serif;
  --font--en: 'Nunito', 'Noto Sans Japanese', sans-serif;


  --color: #000;
  --background-color: #fff;

  --color-animate-1: #f382ad;
  --color-animate-2: #36b1dd;

  --font-weight--normal: 400;
  --font-weight--bold: 600;
}
