@custom-selector :--onEvent :hover, :active, :focus;

@custom-media --sm-up (width > 640px);
@custom-media --md-up (width > 768px);
@custom-media --lg-up (width > 1080px);
@custom-media --sm-down (width <= 640px);
@custom-media --md-down (width <= 768px);
@custom-media --lg-down (width <= 1080px);
@custom-media --default (--md-up);

:root {
  --clearfix: {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  };

  --listUnstyled: {
    padding-left: 0;
    list-style-type: none;
  };

  --truncate: {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  };

  --srOnly: {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    overflow: hidden;
    padding: 0;
    clip: rect(0, 0, 0, 0);
  };
}
