extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "CSS Talk Vol.1の開催レポート";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= relativePath;

block content
  .t-wrapper

    // 1カラム用
    .t-wrapper__1culumn
      .t-wrapper__inner
        main.t-wrapper__content
          // .p-reportでレポートページ専用のレイアウトやコンポーネントを指定する
          // 以下.p-report__summaryのようなElementあり
          article.t-content.p-report
            header.t-content__head
              // 使い回すためMoluculeとする
              .m-hero
                .m-hero__inner
                  h1.m-hero__logo: img(alt="CSS Talk Vol.1 2016年10月29日 土曜日")

            // .p-report__innerでmax-width指定
            .t-content__body.p-report__inner
              .p-report__summary
                .p-report__summaryInner
                  // 50%のグリッド
                  .p-report__summaryItem
                    // レポートページ用の見出し
                    h2.a-headingReport 基本情報
                    dl.m-basicInfo
                      dt.m-basicInfo__title イベント名
                      dt.m-basicInfo__description CSS Talk Vol.1
                        br
                        a.a-link(href="#") https://~
                  .p-report__summaryItem
                    h2.a-headingReport タイムスケジュール
                    ol.m-timeSchedule
                      li.m-timeSchedule__item 13:00 会場
                      li.m-timeSchedule__item 14:00~16:30 セッション（休憩10分）
                        // アイコンを付けるためのModifier
                        // アイコンは背景画像で表示する
                        ol.m-timeSchedule__subItems.m-timeSchedule__subItems--session
                          li.m-timeSchedule__subItem 「Review the OOCSS」 安田学
                          li.m-timeSchedule__subItem 「入社してから書き方を変えた話」 Daisuke konichi
                      li.m-timeSchedule__item 16:30~18:00 懇親会（同会場にて）

              .p-report__images
                // できればimgで（背景画像はIEのハイコントラストモードで表示されない）
                img

              .p-report__sessions
                h2.a-headingReport セッションスライド
                .p-report__session
                  // セッション用コンポーネント
                  .o-session
                    .o-session__summary
                      img.o-session__image
                      h3.o-session__title 「Review the OOCSS」
                      p.o-session__name 安田学
                      ul.o-session__links
                        li: a.a-link(href="#") GitHub
                        li: a.a-link(href="#") Facebook
                    .o-session__slide
                      // スライドサービスやアスペクト比によってModiferが変わる
                      .a-slide.a-slide--slideshare

                .p-report__session
                  .o-session
                    .o-session__summary
                      img.o-session__image
                      h3.o-session__title 「Review the OOCSS」
                      p.o-session__name 安田学
                      ul.o-session__links
                        li: a.a-link(href="") GitHub
                        li: a.a-link(href="") Facebook
                    .o-session__slide
                      .a-slide.a-slide--speakerdeck
                      a.a-slide__caption

              .p-report__surveyReport
                h2.a-headingReport アンケート結果
                .p-report__surveyReportItems
                  // グリッド
                  .p-report__surveyReportItem
                    // グラフは自動出力？

              .p-report__pager
                // ページャーコンポーネント
                .m-pager
                  a.m-pager__prev Vol.1を見る
                  a.m-pager__top Topへ戻る
                  a.m-pager__next Vol.3を見る


    include /_includes/_footer
