extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "CSS Talk Vol.1の開催レポート";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= relativePath;

block content
  // `.st-`（Structure） サイト共通の構造的なModuleのネームスペース
  // `.sw-`（Site Wide） サイト共通の小さなModuleのネームスペース
  // `.report-` /report/report.html 専用ネームスペース
  .st-Wrapper
    // グローバルヘッダー
    header.st-Header

    // コンテンツラッパー
    .st-Inner.st-Inner-1culumn
      // コンテンツエリア
      main.st-Contents
        article.report-Contents

          // メインビジュアルとロゴエリア
          header.report-Hero
            .report-Hero_Inner
              h1.report-Hero_Logo

          // ガターサイズはレポートページ側で指定する
          .sw-Grid.report-Grid
            .sw-Grid_Item
              // 基本情報
              section.report-Info
                h2.report-Heading.report-Info_Heading
                dl.report-Info
                  dt.report-Info_Title
                  dd.report-Info_Description
                  dt.report-Info_Title
                  dd.report-Info_Description
            .sw-Grid_Item
              // タイムスケジュール
              section.report-TimeSchedule
                h2.report-Heading.report-TimeSchedule_Heading
                ol.report-Schedule
                  li.report-Schedule_List
                  li.report-Schedule_List
                    ol.report-Schedule_SubLists
                      li.report-Schedule_SubList
                      li.report-Schedule_SubList
                  li.report-Schedule_List

          // 会場の画像
          .report-FutureImage
            img

          // セッションスライド
          section.report-Session
            h2.report-Heading.report-Session_Heading
            // 一人目（Slide Share）
            section.report-Session_Item
              .report-Session_Summary
                img.report-Session_Image
                h3.report-Session_Title
                p.report-Session_Name
                ul.report-Session_Links
                  li.report-Session_Link: a
                  li.report-Session_Link: a
              .report-Session_SlideArea
                .report-Session_Slide.report-Session_Slide-slideshare
            // 二人目（Speaker Deckとリンク）
            section.report-Session_Item
              .report-Session_Summary
                img.report-Session_Image
                h3.report-Session_Title
                p.report-Session_Name
                ul.report-Session_Links
                  li.report-Session_Link: a
                  li.report-Session_Link: a
              .report-Session_SlideArea
                .report-Session_Slide.report-Session_Slide-Speakerdeck
                a.report-Session_SlideCaption
            // 三人目（画像とリンク）
            section.report-Session_Item
              .report-Session_Summary
                img.report-Session_Image
                h3.report-Session_Title
                p.report-Session_Name
                ul.report-Session_Links
                  li.report-Session_Link: a
                  li.report-Session_Link: a
              .report-Session_SlideArea
                .report-Session_SlideImage
                a.report-Session_SlideCaption

          // アンケート結果
          section.report-Survey
            h2.report-Heading.report-Survey_Heading
            .sw-Grid.report-Survey_Grid
              .sw-Grid_Item
                // 自動生成？
              .sw-Grid_Item

          // ページャー
          .report-Pager
            .report-Pager_Inner
              a.report-Pager_Prev
              a.report-Pager_Top
              a.report-Pager_Next


    // グローバルフッター
    include /_includes/_footer
