.home-About_Balloon {
  width: 530px;
  height: 279px;
  margin: -200px auto 0;
  background: linear-gradient(to right top, hsla(0,80%,80%,0), hsla(100,80%,80%,.9));
  clip-path: url(#home-About_Clip);
}
