.home-About {
  text-align: center;
  position: relative;
  padding-bottom: 140px;
  @media (--sm-up) {
    padding-bottom: 180px;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22%;
    max-width: 392px;
    height: 498px;
    background: url(/assets/img/home/about-bg-1.png) no-repeat right bottom;
    background-size: cover;

    @media (--lg-down) {
      width: 28%;
      background-size: contain;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    max-width: 534px;
    height: 746px;
    background: url(/assets/img/home/about-bg-2.png) no-repeat left bottom;
    background-size: cover;

    @media (--lg-down) {
      width: 40%;
      background-size: contain;
    }
  }
}

.home-About_Title {
  width: 530px;
  height: 276px;
  max-width: 82%;
  max-height: 33vw;
  margin: 0 auto;

  background: linear-gradient(to right top, hsla(0,80%,80%,0), hsla(100,80%,80%,.9));
  clip-path: url(#home-About_TitleClip);
  border-radius: 2% 1.5%;
  color: #fff;
  line-height: 1;
}

.home-About_Heading {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 9vw;
  padding-top: 7.6vw;

  @media (--md-up) {
    font-size: 3.75rem;
    padding-top: 90px;
  }
}

.home-About_Description {
  font-size: 3.7vw;
  @media (--md-up) {
    font-size: 1.5rem;
  }
}

.homme-About_Lead {
  font-size: 6.2vw;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 6.2vw 0 5vw;

  @media (--md-up) {
    font-size: 2.5rem;
    letter-spacing: .4px;
    margin: 73px 0 48px;
  }
}

.home-About_Text {
  font-size: 3.9vw;
  letter-spacing: 1px;
  line-height: 2.1;
  margin-bottom: 1.8em;

  @media (--md-up) {
    font-size: 1.12rem;
    letter-spacing: .4px;
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
