/*
 * 文字色のアニメーション
 */
.home-Animate_Text {
  color: var(--color--primaly);
  animation: home-Animate_Text 60s linear infinite;
}

@keyframes home-Animate_Text {
  0% {
    color: var(--color--primaly);
  }
  33% {
    color: #f93;
  }
  66% {
    color: #39f;
  }
  100% {
    color: var(--color--primaly);
  }
}


/*
 * 背景色のアニメーション
 */
.home-Animate_Bg {
  background-color: var(--color--primaly);
  animation: home-Animate_Bg 60s linear infinite;
}

@keyframes home-Animate_Bg {
  0% {
    background-color: var(--color--primaly);
  }
  33% {
    background-color: #f93;
  }
  66% {
    background-color: #39f;
  }
  100% {
    background-color: var(--color--primaly);
  }
}
