/*
 * マイクのアニメーション
 */
.home {
  position: relative;
}

.home-Mic {
  position: relative;
  width: 100%;
  @media (--sm-up) {
    height: 1114px;
  }
}

.home-Mics {
  @media (--sm-down) {
    display: none;
  }

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 1114px;

  overflow: hidden;

  background: url('/assets/img/home/mic1.png') no-repeat center top;

  /* 全体がちょっと上にあがるアニメーション */
  transition: all .6s ease;
  transform: translateY(-30px);
  opacity: 0;
  &.home-Mic_Animate {
    transform: translateY(-71px);
    opacity: 1;
  }
}

/* マイクのコードのアニメーション 1 */
.home-MicCode1 {
  position: absolute;
  top: 0;
  right: calc(50% - 980px);
  width: 620px;
  height: 1114px;
  background: url('/assets/img/home/mic2.png') no-repeat right top;

  transition: all .5s ease;
  @nest .home-Mic_Animate & {
    width: 1960px;
  }
}

/* マイクのコードのアニメーション 2 */
.home-MicCode2 {
  position: absolute;
  top: 0;
  left: calc(50% - 980px);
  width: 0;
  height: 1114px;
  background: url('/assets/img/home/mic3.png') no-repeat left top;
  opacity: 0;

  transition: all .6s ease .6s;
  @nest .home-Mic_Animate & {
    width: 1960px;
    opacity: 1;
  }
}
