.home-Report {
  display: flex;
  flex-wrap:wrap;
  text-align: center;
  align-items: center;

  flex-direction: column;
  @media (--sm-up) {
    flex-direction: row-reverse;
  }

  & > * {
    flex: 1;
    width: 100%;
    min-height: calc(100vw * 500 / 650);
    @media (--sm-up) {
      min-height: 30vw;
    }
  }
}

.home-Report_Body {
  color: var(--background-color);
  font-size: .95rem;
}

.home-Report_Body .sw-Heading {
  font-size: 2.7rem;
}

.home-Report_EyeCatch {
  position: relative;
  overflow: hidden;
  background-color: inherit;
}

.home-Report_EyeCatch img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-Report_EyeCatch:after {
  position: absolute;
  content: '';

  top: 0;
  left: calc(50% - 10px);
  border: 10px solid transparent;
  border-top: 10px solid currentColor;

  @media (--sm-up) {
    top: calc(50% - 12px);
    right: 0;
    border: 12px solid transparent;
    border-right: 14px solid currentColor;
  }
}
