extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;

block content
  .st-Wrapper
    main
      article

        //- ヘッダ
        header.home-Hero
          h1.home-Hero_Logo
            img(src="/assets/img/home/main-logo.svg")

        //- About
        section.home-About
          header.home-About_Baloon
            h2.home-About_Heading.sw-Heading About
            p.home-About_Lead CSS Talkとは？

          h3 「CSS Talk」はCSSをテーマに話をする勉強会です。
          p
            |CSSはWebサイト（またはWebサービス）を制作するうえで欠かせないものです。<br>そしてエンジニアはもとより、デザイナーやディレクターも良いものを<br>作るためには知っておきたいことでもあります。
          p
            |エンジニア同士で知識を深めるも、デザイナーとディレクターを交えて<br>情報や考えを共有をするのもいいでしょう。<br>CSS Talkは職種を問わず、どなたでもご参加いただけます。
          p
            |時間に余裕をもたせた、緩やかな勉強会ですので、<br>お気軽にご参加ください。

          svg.home-About_Clips
            defs
              clippath#home-About_Clip(clipPathUnits="objectBoundingBox")
                polygon(points="0,0 1,0 1,.95 .53,.95 .5,1, .47,.95 0,.95")

        //- 次回予告
        section.home-Next
          - var nextTalkDate = "2017.04.22sat"
          .home-Next_Body
            h2.sw-Heading Next Talk
            h3
              time #{nextTalkDate}
            p 次回の開催は 2017年4月22日(土)を予定しています
            p 会場 : TAMコワーキング大阪 大阪市北区末広町3-7
            a.sw-Button.home-Next_Button 勉強会の詳細はこちら

          .home-Next_EyeCatch
            h2 CSS Talk
            time #{nextTalkDate}
            .home-Next_volume vol.
              span.home-Next_volumeNumber 3

        //- レポートページ
        section.home-Report
          .home-Report_Body
            h2.sw-Heading Report
            p 過去に行われた CSS Talk の開催レポート
            btn.sw-Button.home-Report_Button(disabled=disabled) Coming Soon
          .home-Report_EyeCatch
            img(src="//placehold.it/100x100")

    footer
      //- 登壇者募集
      section.home-Wanted
        h2 登壇者募集中です
        p テキストテキスト
        a.sw-Button.home-Wanted_Button 登壇を申し込む

      //- アクセス
      section.home-Access
        h2.sw-Heading Access
        p 会場 : TAMコワーキング大阪
        p 大阪市北区末広町3-7
        img(src="//placehold.it/100x100")
        small
          a(href="#")

      aside.home-BannerArea
        .home-Banner_Item
          a(href="#")
            img(src="")
        .home-Banner_Item
          a(href="#")
            img(src="")
        .home-Banner_Item
          a(href="#")
            img(src="")


    // グローバルフッター
    include /_includes/_footer
