/*
---
name: Button
category: SiteWide
tag:
  - Link
  - Form
---

ボタンのデフォルトスタイルです。

```jade
a.sw-Button(href="#") ボタン
button.sw-Button(type="button") ボタン
input.sw-Button(type="button" value="ボタン")
a.sw-Button.is-disabled(href="#") .is-disabled
button.sw-Button(type="button" disabled) disabled
input.sw-Button(type="button" disabled value="disabled")
a.sw-Button.sw-Button_alt(href="#") ALTボタン
button.sw-Button.sw-Button_alt(href="#" disabled) disabled
```
*/
.sw-Button {
  display: inline-block;
  width: 440px;
  height: 60px;
  max-width: 90%;

  margin: 30px 0;
  padding: 0;

  color: #fff;
  background-color: var(--color--primaly);
  border: 1px solid currentColor;
  border-radius: 30px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 115%;
  line-height: 60px;
  appearance: none;

  &:--onEvent {
    text-decoration: none;
  }

  &:hover {
    /* todo */
  }

  &:disabled {
    cursor: not-allowed;
    color: #ddd;
    background-color: inherit;
    opacity: .8;
  }
}

.sw-Button_alt {
  color: var(--color--primaly);
  background-color: #fff;
}
