/*
---
name: Button
category: SiteWide
tag:
  - Link
  - Form
---

ボタンのデフォルトスタイルです。

```jade
a.sw-Button(href="#") ボタン
button.sw-Button(type="button") ボタン
input.sw-Button(type="button" value="ボタン")
a.sw-Button.is-disabled(href="#") .is-disabled
button.sw-Button(type="button" disabled) disabled
input.sw-Button(type="button" disabled value="disabled")
a.sw-Button.sw-Button_alt(href="#") ALTボタン
button.sw-Button.sw-Button_alt(href="#" disabled) disabled
```
*/
.sw-Button {
  display: inline-block;
  position: relative;
  width: 440px;
  max-width: 95%;
  padding: 0;

  margin: 20px 0;
  height: 55px;
  line-height: 55px;
  border-radius: calc(55px / 2);

  @media (--sm-up) {
    margin: 30px 0;
    height: 60px;
    line-height: 60px;
    border-radius: calc(60px / 2);
  }

  color: #fff;
  background-color: var(--color--primaly);
  border: 1px solid currentColor;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.15rem;
  appearance: none;

  &:--onEvent {
    text-decoration: none;
  }


  /* ホバー時のアニメーション */
  transition: text-indent .3s;
  &:after {
    position: absolute;
    content: '●'; /* todo */
    opacity: 0;
    right: 2em;
    color: #fff;
    transition: all .3s;
  }
  &:not(:disabled):hover {
    text-indent: -1em;
    &:after {
      opacity: 1;
      transform: translateX(.5em);
    }
  }


  &:disabled {
    cursor: not-allowed;
    color: #ddd;
    background-color: inherit;
    opacity: .8;
  }
}
